.sidebar {
    padding: 32px;

    align-items: center;

    display: flex;
    flex-direction: column;

    min-width: calc(270px - 64px);
    max-width: calc(270px - 64px);


    background: var(--black-0);
    height: calc(100% - 64px);

    border-radius: 24px;

    gap: 24px;
}

.sidebar-wide {
    min-width: calc(330px - 64px);
    max-width: calc(330px - 64px);
}

.sidebar h1 {
    display: flex;
    flex-direction: row;

    align-items: center;

    font-size: 24px;
    text-align: center;
    margin: 0;

    margin-bottom: 64px;
}

.sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar p {
    margin: 0;
    margin-right: auto;
}

.sidebar a {
    text-decoration: none;
}

.sidebar h1 strong {
    color: var(--blue-500)
}

.tabs-group {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.tabs-group h3 {
    margin: 0;
    font-size: 14px;
    color: var(--black-400);
    margin-right: auto;
    font-weight: 400;
}

.sidebar-tab {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 24px;
    gap: 12px;
    border-radius: 16px;
    padding: 16px 24px;

    cursor: pointer;
    transition: all 0.5s;
    font-size: 16px;

    color: var(--black-400);
}

.sidebar-tab img {
    filter: var(--black-400-filter);
}

.sidebar-tab:hover {
    background: var(--blue-50);
    color: var(--blue-500);
    font-weight: 600;
}

.sidebar-tab:hover img {
    filter: var(--blue-500-filter);
}

.sidebar-tab.selected {
    background: var(--blue-50);
    color: var(--blue-500);
    font-weight: 600;
}

.sidebar-tab.selected img {
    filter: var(--blue-500-filter);
}

.dark-mode-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: var(--black-500);
}

.dark-mode-switch {
    margin-left: auto;
    height: 16px;
    padding: 4px;
    background: var(--black-300);
    width: 42px;
    border-radius: 12px;
    cursor: pointer;
}

.dark-mode-switch .switch-circle {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background: var(--black-400);
}

.sidebar-module {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: calc(100% - 32px);
    background: var(--black-50);
    border-radius: 16px;
    gap: 16px;
}

.hide-module-icon {
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: auto;
    padding: 4px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 8px;
    box-shadow: 0 0 4px #24242400;
}

.hide-module-icon:hover {
    background: var(--blue-50);
    box-shadow: 0 0 4px #24242424;

}

.hide-module-icon:hover img {
    filter: var(--blue-500-filter);
}

.sidebar-module h4 {
    font-size: 16px;
    margin-right: auto;
    color: var(--black-958);
}

.sidebar-module p {
    margin-right: auto;
    color: var(--black-400);
    font-size: 14px;
    font-weight: 400;
}

.sidebar-module-tab {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-radius: 12px;
    width: calc(100% - 32px);
    background: var(--blue-50);
    gap: 12px;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid var(--black-50);
}

.sidebar-module-tab.selected {
    background: var(--blue-500);
}

.sidebar-module-tab:hover{
    border: 1px solid var(--blue-500);
}

.sidebar-module-tab img {
    filter: var(--blue-500-filter);
}

.sidebar-module-tab h5 {
    font-size: 16px;
    font-weight: 500;
    color: var(--black-958);
}

.sidebar-module-tab p {
    font-size: 14px;
    font-weight: 400;
    color: var(--blue-400);
}


.sidebar-module-tab.selected h5 {
    color: var(--black-0);
}


.sidebar-module-tab.selected img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(118deg) brightness(104%) contrast(101%);
}

